# Banco de dados
DB_HOST=localhost
DB_PORT=5432
DB_NAME=ce_db
DB_USER=ce_user
DB_PASSWORD=ce_password

# pgAdmin
PGADMIN_EMAIL=admin@admin.com
PGADMIN_PASSWORD=admin
PGADMIN_PORT=5050

# Rodar cp .env.example .env